.mp__img {
  width: 100%;
  max-height: 70%;
  object-fit: contain;
  margin-bottom: 5%;
}

.mp__title {
  font-size: var(--fs-modal-xxl);
  line-height: var(--lh-modal-xxl);
  font-weight: var(--fw-modal-xxl);
  margin-bottom: 10%;
  text-align: center;
}

.mp__buttons {
  display: flex;
  justify-content: space-between;
}

.mp__link {
  text-transform: uppercase;
}

.modal__close {
  cursor: pointer;
}

.modal__close:hover {
  transition: all 0.3s;
}