.menu {
  background: linear-gradient(to top, #1b2735, #090a0f);
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
  height: 100vh;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.4);
}
@media (max-width: 992px) {
  .menu {
    display: none;
  }
}

.menu__logo {
  /* text-align: center; */
  height: 200px;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid var(--color-2);
}

/* .logo__title {
  font-size: 2.1rem;
  font-weight: 200;
  line-height: 1;
  margin-bottom: 10px;
} */

/* .logo__img {
  display: flex;
  width: 150px;
  height: 150px;
  margin: 0 auto 10px;
  border-radius: 50%;
  overflow: hidden;
} */

/* .logo__img > img {
  object-fit: cover;
  transform: scale(2) translate(-5px, 5px);
} */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  border: var(--border);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  cursor: pointer;
}

/* .logo__subtitle {
  font-size: 1.1rem;
  font-weight: 300;
} */

/* .menu__list {

} */

.menu__item {
  border: 2px solid transparent;
  transition: all 0.3s;
}

.menu__item:hover {
  /* background-color: var(--color-bg) */
  border: 2px solid var(--color-2);
}

.menu__link {
  color: var(--color-4);
  font-weight: 400;
  padding: 10px 0;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  z-index: 5;
  transition: all 0.2s;
}

.menu__link.active {
  color: var(--color-3);
  font-weight: 500;
}

.menu__icon {
  font-size: 2rem;
  padding: 0 15px;
}

.menu__text {
  line-height: 2;
}

.menu__contacts {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}

.menu__contact {
  width: 30px;
}
