.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}

.show {
  opacity: 1;
  visibility: visible;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.95);
  transition: all 0.5s ease-in-out;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 95%;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
  transition: all 0.3s;
}
@media (max-width: 1200px) {
  .modal {
    width: 40%;
  }
}
@media (max-width: 992px) {
  .modal {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .modal {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .modal {
    width: 70%;
  }
}
@media (max-width: 486px) {
  .modal {
    width: 90%;
  }
}

.modal.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
