.home__arrow_animation {
  color: var(--color);
  animation: animArrow 1s linear infinite;
}

@keyframes animArrow {
  from {
    transform: translateY(-30px);
    opacity: 0.1;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
