.contact {
  background-color: var(--color-1);
  width: 100%;
  min-height: 100vh;
}

.contact__header {
  position: sticky;
  top: 0;
  background-color: var(--color-3);
  color: var(--color-1);
  padding: 30px 40px;
}

.contact__title {
  font-size: var(--fs-title-xxl);
  line-height: var(--lh-title-xxl);
  font-weight: 200;
  text-transform: uppercase;
  margin: 0;
}

.contact__content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70%;
  padding: 50px 0;
}

.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 100%;
  padding: 20px;
  border: var(--border);
}

.info__title {
  font-size: 2.0rem;
  line-height: 2.5rem;
  font-weight: 400;
}

.info__subtitle {
  font-size: 1.5rem;
  line-height: 2.0rem;
  font-weight: 200;
  margin-bottom: 10px;
  color: var(--color-3);
}

.info__mail,
.info__github {
  display: flex;
  align-items: center;
  height: 50px;
}

.contact__icon {
  margin-right: 15px;
}

.info__text {
  margin-right: 10px;
}

.info__link {
  color: var(--color-3);
  transition: all 0.3s;
}

.info__link:hover {
  text-decoration: underline;
  color: var(--color-4);
  
}

/* .info__social {} */

/* .contact__form {} */