.btn {
  position: relative;
  background-color: var(--color);
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: var(--color-text-2);
  padding: 13px 20px;
}


/*************************** BUTTON MODIFY */

.btn_outline {
  background-color: transparent;
  color: var(--color-text-1);
  border: 2px solid var(--color);
}


/*************************** _MODIFY */

._block {
  display: block !important;
}

._flex {
  display: flex !important;
}

._deactive {
  opacity: 0.3 !important;
  cursor: default !important;
}