:root {
  /* color */
  --color: #008209;
  --color-bg: #95ff9c;
  --color-text-1: #b3b3b3;
  --color-text-2: #1b1b1b;
  
  /* new */
  --color-1: #191A19;
  --color-2: #1E5128;
  --color-3: #4E9F3D;
  --color-4: #D8E9A8;
  
  /* border */
  --border: 2px solid var(--color-3);

  /* font */
  --fs-title-xxl: 2.9rem;
  --lh-title-xxl: 3.2rem;
  --fw-title-xxl: 400;
  
  --fs-subtitle-xxl: 2.0rem;
  --lh-subtitle-xxl: 2.5rem;
  --fw-subtitle-xxl: 300;
  
  --lh-text: 2;
}
