:root {
  /* color */
  --color: #008209;
  --color-bg: #95ff9c;
  
  /* font */
  --fs-title-xxl: 2.9rem;
  --lh-title-xxl: 3.2rem;
  --fw-title-xxl: 400;
  
  --fs-subtitle-xxl: 2.0rem;
  --lh-subtitle-xxl: 2.5rem;
  --fw-subtitle-xxl: 300;
  
  --lh-text: 2;
}
