@import url(./css/all.css);

main {
  margin-left: 200px;
}
@media (max-width: 992px) {
  main {
    margin-left: auto;
  }
}

.subtitle {
  font-size: var(--fs-title-xxl);
  line-height: var(--lh-title-xxl);
  font-weight: 200;
  text-transform: uppercase;
  margin: 0;
}
@media (max-width: 992px) {
  .subtitle {
    text-align: center;
  }
}